/* FONT IMPORTS --------------------- */

/* HEADINGS */
/* Roboto - 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");

/* BODY TEXT */
/* Fira Sans - 400, 700 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

/* VARIABLES --------------------- */

:root {
  --color-primary: #3de07e;
  --color-secondary: #e83f57;

  --color-black: #000;
  --color-white: #fff;

  --color-grey: #ffffff40;

  --font-heading-large: 6.375rem;
  --font-heading-medium: 2.125rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --gap-s: 1rem;
  --gap-m: 2rem;
  --gap-l: 6.0625rem;

  --container-width: 999px;
}

/* GLOBAL STYLES --------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-heading-large);
}

h2 {
  font-size: var(--font-heading-medium);
}

html,
body {
  background: var(--color-black);
  font-family: Fira sans, Arial, Helvetica, sans-serif;
}

body {
}

.button {
  background-color: #e83f57;
  height: 30px;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-size: 0.75rem;
}

/* HEADER --------------------- */

header {
  position: relative;
  /* max-width: 1440px;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 608px;
  background: var(--color-primary);
}

header aside img {
  position: absolute;
  top: var(--gap-m);
  left: var(--gap-m);
  cursor: pointer;
}

header img:nth-child(3) {
  position: absolute;
  width: 241px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* POSTERS --------------------- */

.wrapper {
  max-width: 1000px;
  margin: 0 auto;

  color: var(--color-white);
  padding-block: var(--gap-l);
}

img {
  max-width: 100%;
}

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  column-gap: var(--gap-m);
  row-gap: var(--gap-l);
  padding-bottom: var(--gap-l);
}

.big-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-m);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap-s);
}

.big-card {
  background-color: var(--color-white);
  color: var(--color-black);

  width: 483.03px;
  height: 770px;
}

.big-card section {
  padding: var(--gap-s);
  gap: var(--gap-s);
  height: 283.05px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.big-card .button {
  padding: 1.5rem 1.5rem;
  margin-top: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
}

footer {
  background: var(--color-grey);
  color: var(--color-white);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));

  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  header {
    height: 380px;
  }

  h1 {
    font-size: 4rem;
  }

  .grid-container {
    gap: var(--gap-s);
  }

  .card {
    padding: 0 var(--gap-s);
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
  }

  .card {
  }
}
