/* FONT IMPORTS --------------------- */

/* HEADINGS */
/* Roboto - 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");

/* BODY TEXT */
/* Fira Sans - 400, 700 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

/* VARIABLES --------------------- */

:root {
  --color-black: #000;
  --color-grey: #ffffff40;
  --color-white: #fff;
  --color-primary: #3de07e;
  --color-secondary: #e83f57;

  --heading-large: 6.375rem;
  --heading-medium: 3rem;
  --heading-small: 2.125rem;

  --font-large: 32px;
  --font-medium: 24px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-extrasmall: 12px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --gap-xs: 0.5rem;
  --gap-s: 1rem;
  --gap-m: 2rem;
  --gap-l: 6.0625rem;

  --container-width: 1100px;
}

/* GLOBAL STYLES --------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  cursor: pointer;
}

button:hover {
  background-color: #f4556d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--heading-large);
}

h2 {
  font-size: var(--heading-small);
  margin-bottom: var(--gap-s);
}

h3 {
  font-size: var(--heading-medium);
  margin-bottom: var(--gap-m);
}

html,
body {
  background: var(--color-black);
  font-family: Fira sans, Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  background-color: #e83f57;
  border-radius: 4px;
  padding: 0.5rem var(--gap-s);
  margin-top: var(--gap-m);
  font-size: var(--font-extrasmall);
}

/* HEADER --------------------- */

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 608px;
  background: var(--color-primary);
}

header aside img {
  position: absolute;
  top: var(--gap-m);
  left: var(--gap-m);
  cursor: pointer;
}

header > img {
  position: absolute;
  width: 241px;
  bottom: 0;
  left: 50%;
  transform: translateX(-57%);
}

.wrapper,
.footer-links {
  max-width: var(--container-width);
  padding-inline: var(--gap-s);
}

/* POSTERS --------------------- */

.wrapper {
  margin: 0 auto;
  color: var(--color-white);
  padding-block: var(--gap-l);
  animation: fadeUp 1s ease;
  padding-inline: var(--gap-s);
}

img {
  max-width: 100%;
}

.grid-container,
.big-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
}

.grid-container {
  column-gap: var(--gap-m);
  row-gap: var(--gap-l);
  padding-bottom: var(--gap-l);
}

.big-card-container {
  gap: var(--gap-m);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap-s);
}

.big-card {
  background-color: var(--color-white);
  color: var(--color-black);
}

.big-card section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--gap-s);
}

.big-card .button {
  padding: var(--gap-s) 1.5rem;
  margin-top: var(--gap-m);
  font-size: var(--font-small);
  display: flex;
  align-items: center;
}

table {
  margin-top: var(--gap-l);
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
}

th {
  padding-block: var(--gap-xs);
}

td {
  padding-block: var(--gap-s);
}

thead {
  background-color: #ed363633;
  font-size: var(--font-medium);
  font-weight: 400;
  font-family: "roboto", sans-serif;
  color: var(--color-grey);
}

tbody,
tfoot {
  font-size: var(--font-large);
  font-weight: var(--font-weight-regular);
}

tfoot td {
  font-weight: var(--font-weight-bold);
  padding-block: var(--gap-s);
}

tbody tr:nth-child(even) {
  border-bottom: 2px solid #fff;
}

.check-out-btn {
  font-size: var(--font-large);
  padding: var(--gap-s) var(--gap-m);
  margin-block: var(--gap-l);
  display: block;
  margin-left: auto;
}

footer {
  min-height: 320px;
  background: var(--color-grey);
  color: var(--color-white);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  margin: 0 auto;
  padding: var(--gap-m) var(--gap-s);
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer nav a,
footer article p {
  margin-bottom: var(--gap-xs);
}

footer .icons {
  display: flex;
  gap: var(--gap-s);
}

/* ANIMATIONS */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
